{% extends "::base.html.twig" %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">Erreur 404</h1>
    </div>
    <div class="row">
        <p class="lead text-center">Oops, il semblerait que la page que vous cherchiez n'existe pas ou plus.</p>
    </div>
    <div class="row">
        <p class="text-center">
            <img src="{{ asset('images/doh_404.png') }}" />
        </p>
    </div>
{% endblock %}
