{% extends "::base.html.twig" %}

{% block title %}Erreur {{ status_code }}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">Erreur {{ status_code }}</h1>
    </div>
    <div class="row">
        <p class="lead text-center">Oops, une erreur inconnue s'est produite...</p>
        <p class="lead text-center">
            Nous avons été avertis de cette erreur et nous nous chargerons de la régler au plus vite.
        </p>
        <p class="lead text-center">Merci de votre patience.</p>
    </div>
    <div class="row">
        <p class="text-center">
            <img src="{{ asset('images/surprised.png') }}" />
        </p>
    </div>
{% endblock %}
