<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!--
                                   _            _
                                  ( )          ( )
              ___ ___     _ _    _| |   __     | |_    _   _
            /' _ ` _ `\ /'_` ) /'_` | /'__`\   | '_`\ ( ) ( )
            | ( ) ( ) |( (_| |( (_| |(  ___/   | |_) )| (_) |
            (_) (_) (_)`\__,_)`\__,_)`\____)   (_,__/'`\__, |
                                                      ( )_| |
                                                      `\___/'
             ___                  _                    _
            |  _`\               ( )                  (_ )
            | (_) )   _ _  _ _   | |__     _ _    __   | |
            | ,  /  /'_` )( '_`\ |  _ `\ /'_` ) /'__`\ | |
            | |\ \ ( (_| || (_) )| | | |( (_| |(  ___/ | |
            (_) (_)`\__,_)| ,__/'(_) (_)`\__,_)`\____)(___)
                          | |
                          (_)
             _____  _      _   _  ___    ___
            (  _  )( )    ( ) ( )(  _`\ (  _`\
            | (_) || |    | | | || (_(_)| (_(_)
            |  _  || |  _ | | | ||  _)_ `\__ \
            | | | || |_( )| \_/ || (_( )( )_) |
            (_) (_)(____/'`\___/'(____/'`\____)

        -->
        <title>{% block title %}Partnaire Médias{% endblock %}</title>
        {% stylesheets '@bootstrap_css' '@flatui_css' '@base_css' %}
            <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="social_networks">
            <a href="https://www.facebook.com/Partnaire/" target="_blank">
                {% image '../app/Resources/public/images/facebook.png' %}
                    <img src="{{ asset_url }}" class="social_network" alt="Facebook Partnaire" />
                {% endimage %}
            </a>
            <a href="https://twitter.com/Partnaire" target="_blank">
                {% image '../app/Resources/public/images/twitter.png' %}
                    <img src="{{ asset_url }}" class="social_network" alt="Twitter Partnaire" />
                {% endimage %}
            </a>
            <a href="http://www.viadeo.com/fr/company/groupe-partnaire-rh" target="_blank">
                {% image '../app/Resources/public/images/viadeo.png' %}
                    <img src="{{ asset_url }}" class="social_network" alt="Viadeo Partnaire" />
                {% endimage %}
            </a>
            <a href="https://www.linkedin.com/company/groupe-partnaire" target="_blank">
                {% image '../app/Resources/public/images/linkedin.png' %}
                    <img src="{{ asset_url }}" class="social_network" alt="LinkedIn Partnaire" />
                {% endimage %}
            </a>
        </div>
        <div class="container">
            <div class="row">
                {% image '../app/Resources/public/images/partnaire_logo.png' %}
                    <img src="{{ asset_url }} " alt="logo" id="partnaire_logo" />
                {% endimage %}
                <h1 id="title" class="text-muted text-center">Partnaire medias</h1>
            </div>
            <div class="masthead">
                <nav id="mainnav">
                    <ul class="nav nav-justified">
                        <li {% if app.request.attributes.get('_route') == 'front_index' %}class="active"{% endif %}>
                            <a href="{{ path('front_index') }}">Accueil</a>
                        </li>
                        <li {% if app.request.attributes.get('_route') == 'front_photos' or (app.request.attributes.get('_route') == 'front_article' and article is defined and article.isPhotosArticle) %}class="active"{% endif %}>
                            <a href="{{ path('front_photos') }}">Photos</a>
                        </li>
                        <li {% if app.request.attributes.get('_route') == 'front_videos' or (app.request.attributes.get('_route') == 'front_article' and article is defined and article.isVideosArticle) %}class="active"{% endif %}>
                            <a href="{{ path('front_videos') }}">Vidéos</a>
                        </li>
                        {% if not is_granted('ROLE_AGENCY') %}
                            <li {% if app.request.attributes.get('_route') == 'user_index' %}class="active"{% endif %}>
                                <a href="{{ path('user_index') }}">Mon compte</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li {% if 'back' in app.request.attributes.get('_route') %}class="active"{% endif %}>
                                <a href="{{ path('back_index') }}">Espace Administrateur</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% block body %}
            {% endblock %}
        </div>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% javascripts '@jquery' '@flatui_js' '@base_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
