Bonjour,
<br /><br />

Vous avez demandé à changer de mot de passe, nous vous invitons donc à cliquer sur le lien ci-dessous
afin de faire ce changement de mot de passe.

<br /><br />

<a href="medias.partnaire.fr/forgottenpassword/{{ user.salt }}">
    medias.partnaire.fr/forgottenpassword/{{ user.salt }}
</a>

<br /><br />

Cordialement,
<br />
Le service informatique.
