{% extends 'UserBundle:User:user_base.html.twig' %}

{% block content %}
    <h2 class="text-center">Mot de passe oublié</h2>
    <br />

    {% if ok is defined %}
        <h3>Un mail vous a été envoyé afin de changer votre mot de passe. Vous pouvez fermer cette page.</h3>
    {% else %}
        <form method="POST" action="#" class="col-sm-offset-2 col-sm-8 well form-horizontal">
            <div class="form-group">
                <label class="label-control col-sm-3" for="email">Votre adresse mail : </label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="email" name="email" placeholder="mail@partnaire.fr" required />
                    {% if error is defined %}
                        <br />
                        <p class="text-danger text-center">Adresse mail inexistante.</p>
                    {% endif %}
                </div>
            </div>
            <button class="btn btn-success pull-right" type="submit">
                <span class="glyphicon glyphicon-ok"></span>
                Valider
            </button>
        </form>
    {% endif %}
{% endblock %}
