{% extends "::base.html.twig" %}

{% block body %}
    <h1>Mon compte</h1>
    <p class="text-center">
        <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
    </p>
{% endblock %}
