Bonjour,
<br /><br />

Nous vous confirmons votre inscription sur Partnaire medias.
<br /><br />

Afin de confirmer votre inscription, merci de vous rendre sur le lien suivant :
<a href="medias.partnaire.fr/activation/{{ user.salt }}">medias.partnaire.fr/activation/{{ user.salt }}</a>.

<br /><br />

Votre nom d'utilisateur est <strong>{{ user.username }}</strong>.

<br />

Un administrateur vous donnera manuellement les accès managers.

<br /><br />

Cordialement,
<br />
Le service informatique
