{% extends 'UserBundle:User:user_base.html.twig' %}

{% block content %}
    <div class="row">
        <h2 class="text-center">Inscription en tant que manager</h2>
        <br />
        {% if confirmation is defined %}
            <p class="text-center">
                Votre inscription a bien été prise en compte, vous allez recevoir un mail de confirmation.
                Vous pouvez fermer cette page.
            </p>
        {% else %}
            <div class="col-sm-offset-2 col-sm-8 well">
                <div class="alert alert-danger hidden" role="alert" id="errors">
                </div>
                {{ form_start(form, {'attr' : {'class' : 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(form.lastname, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.lastname, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.firstname, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.firstname, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.email, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.first, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.password.first, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.second, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.password.second, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.agencyname, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.agencyname, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success pull-right" id="validation">
                        <span class="glyphicon glyphicon-ok"></span>
                        Valider
                    </button>
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' '@base_js' '@UserBundle/Resources/public/js/registration.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
