{% extends 'UserBundle:User:user_base.html.twig' %}

{% block content %}
    <h2 class="text-center">Mot de passe oublié</h2>
    <br />

    {% if ok is defined %}
        <p class="text-center">Votre mot de passe a bien été changé.</p>
        <p class="text-center">
            Cliquez <a href="{{ path('fos_user_security_login') }}">ici</a> pour vous connecter.
        </p>
    {% else %}
        <form method="POST" action="#" class="col-sm-offset-2 col-sm-8 well form-horizontal">
            <div class="alert alert-danger hidden" role="alert" id="errors">
            </div>
            {% if error is defined %}
                <p class="text-danger text-center">
                    Mot de passe trop court ou mot de passe de confirmation différent.
                </p>
            {% endif %}
            <div class="form-group">
                <label class="label-control col-sm-3" for="password">Nouveau mot de passe (min. 7 caractères) : </label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
            </div>
            <div class="form-group">
                <label class="label-control col-sm-3" for="password_conf">Confirmation : </label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password_conf" name="password_conf" required />
                </div>
            </div>
            <button class="btn btn-success pull-right" type="submit" id="submit">
                <span class="glyphicon glyphicon-ok"></span>
                Valider
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@UserBundle/Resources/public/js/reinitialize_password.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
