<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Partnaire Médias</title>
        {% stylesheets '@bootstrap_css' '@base_css' %}
            <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% image '../app/Resources/public/images/partnaire_logo.png' %}
                    <img src="{{ asset_url }} " alt="logo" id="partnaire_logo" />
                {% endimage %}
                <h1 id="title" class="text-muted text-center">Partnaire médias</h1>
            </div>
            <br /><br />
            {% block content %}
            {% endblock %}
        </div>
        {% javascripts '@jquery' '@bootstrap_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
