#partnaire_logo {
    width: 130px;
    height: 110px;
}

body {
    padding-top: 20px;
    background-image: url('../../images/concrete_seamless.png');
}

#title {
    display: inline-block;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

/* Design des icones */
.red-icon, .blue-icon, .yellow-icon, .green-icon { font-size: 1.3em; }
.red-icon:hover, .red-icon:active, .red-icon:visited, .red-icon:link, .red-icon:focus,
.blue-icon:hover, .blue-icon:active, .blue-icon:visited, .blue-icon:link, blue-icon:focus,
.yellow-icon:hover, .yellow-icon:active, .yellow-icon:visited, .yellow-icon:link, .yellow-icon:focus,
.green-icon:hover, .green-icon:active, .green-icon:visited, .green-icon:link, .green-icon:focus {
    cursor: pointer;
    text-decoration: none;
}
.red-icon, .red-icon:hover, .red-icon:active, .red-icon:visited, .red-icon:link { color: #c9302c; }
.blue-icon, .blue-icon:hover, .blue-icon:active, .blue-icon:visited, .blue-icon:link { color: #337ab7; }
.yellow-icon, .yellow-icon:hover, .yellow-icon:active, .yellow-icon:visited, .yellow-icon:link { color: #f0ad4e; }
.green-icon, .green-icon:hover, .green-icon:active, .green-icon:visited, .green-icon:link { color: #5cb85c; }

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
    border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #fff;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-right: 0;
        border-radius: 0 5px 5px 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead, .marketing, .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

#mainnav {
    margin-bottom: 15px;
}

.social_network {
    max-width: 35px;
}

#social_networks a:hover {
    text-decoration: none;
}

#social_networks {
    position: absolute;
    top: 5px;
    right: 5px;
}
