{% extends '::base.html.twig' %}

{% block body %}
    <h2 class="text-muted">Changelog</h2>
    <div class="text-left">
        <a href="{{ path('back_index') }}" class="btn btn-primary btn-embossed">
            <span class="fui-arrow-left"></span>
            Retour
        </a>
    </div>

    {# VERSION 1.2 #}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">v1.2 (18 Avril 2016)</h3>
                </div>
                <div class="panel-body">
                    <p>Modifications essentiellement visuelles:</p>
                    <ul>
                        <li>Refonte entière de la page d'accueil</li>
                        <li>Application d'un style "flat design" à l'ensemble du site, plus moderne</li>
                        <li>Cas d'accès aux articles en étant non connecté géré</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {# /VERSION 1.2 #}

    {# VERSION 1.1 #}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">v1.1 (22 Février 2016)</h3>
                </div>
                <div class="panel-body">
                    <p>Modifications mineures, essentiellement corrections de bugs, et optimisation:</p>
                    <ul>
                        <li>Ajout du changelog pour les admins</li>
                        <li>Désactivation du bouton suivant lors des phases d'upload des vidéos</li>
                        <li>
                            Désactivation des checkboxes en fonction de celles cochées
                            lors de la mise à jour des droits dès le chargement de la page
                        </li>
                        <li>404 si numéro de page invalide</li>
                        <li>
                            Création d'un système de génération de thumbnails pour les images. Ainsi lors du
                            chargement des articles, uniquement les thumbnails sont affichéses, ce qui réduit
                            drastiquement le temps de chargement. Les images complètes sont téléchargées lors
                            du click sur les aperçus
                        </li>
                        <li>Ajout du SuperUser</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {# /VERSION 1.1 #}

    {# VERSION 1.0 #}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">v1.0 (18 Février 2016)</h3>
                </div>
                <div class="panel-body">
                    <p>Première version officielle, fonctionnalités suivantes ajoutées:</p>
                    <ul>
                        <li>Mise à jour d'un article (titre, contenu, droits)</li>
                        <li>Ajouter / supprimer une agence</li>
                        <li>Supprimer un utilisateur</li>
                        <li>Gérer les droits d'un utilisateur (administrateur / manager)</li>
                        <li>S'inscrire sur le site</li>
                        <li>Pouvoir retrouver son mot de passe oublié</li>
                        <li>Changement de style, plus moderne</li>
                        <li>Affichage d'aperçus sur la page d'accueil</li>
                        <li>Uniquement les articles accessibles par l'utilisateur courrant sont affichés</li>
                        <li>Réécriture totale du script d'upload des vidéos, + stable et + rapide</li>
                        <li>Possibilité d'uploader des fichiers par drag&amp;drop</li>
                        <li>Pages d'erreur propres</li>
                        <li>Envoi des logs d'erreurs par mail</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {# /VERSION 1.0 #}

    {# VERSION 0.1 #}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">v0.1 (10 Février 2016, version de démonstration)</h3>
                </div>
                <div class="panel-body">
                    <p>Version de démonstration du site, on pouvait effectuer les actions suivantes:</p>
                    <ul>
                        <li>Se connecter en tant qu'administrateur</li>
                        <li>Ajouter des photos, avec légendes, les trier</li>
                        <li>Ajouter des vidéos, avec légendes, les trier</li>
                        <li>Limiter les agences selon les articles</li>
                        <li>Visionner les articles</li>
                        <li>Ne voir que les articles photo ou que les articles vidéo</li>
                        <li>Supprimer un article</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {# /VERSION 0.1 #}

    <div class="row">
        <p class="text-center">Développé par Raphaël ALVES pour le groupe Partnaire. 2015 - 2016.</p>
    </div>
{% endblock %}
