{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@BackEndBundle/Resources/public/css/base_admin.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert" id="error_flashbag">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert" id="success_flashbag">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <span class="glyphicon glyphicon-ok-sign"></span>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {# CREATE ARTICLE #}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajouter un article</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <a class="well col-sm-12 cardbutton" href="{{ path('back_new_article', {type : 'photos'}) }}">
                            <div class="row text-center">
                                <span class="glyphicon glyphicon-picture"></span>
                            </div>
                            <div class="row text-center">
                                Photos
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="well col-sm-12 cardbutton" href="{{ path('back_new_article', {type : 'videos'}) }}">
                            <div class="row text-center">
                                <span class="glyphicon glyphicon-film"></span>
                            </div>
                            <div class="row text-center">
                                Vidéos
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# /CREATE ARTICLE #}

    {# MANAGE ARTICLES #}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gérer les articles</h3>
                </div>
                <div class="panel-body">
                    {% if articles is empty %}
                        <p class="text-center">Aucun article pour le moment.</p>
                    {% else %}
                        <ul class="list-group">
                            {% for article in articles %}
                                <li class="list-group-item article {% if loop.index > 5 %}hidden{% endif %}">
                                    {{ article.title }} <i class="small">({{ article.creationdate | date('d/m/Y')}})</i>
                                    <a data-confirm="Etes-vous sûr(e) de vouloir supprimer ?" href="{{ path('back_delete_article', {'id' : article.id}) }}">
                                        <span class="fui-trash red-icon pull-right"></span>
                                    </a>
                                    <a href="{{ path('back_update_article', {id : article.id}) }}">
                                        <span class="glyphicon glyphicon-pencil yellow-icon pull-right"></span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="text-center">
                            <a href="{{ path('back_manage_articles') }}">Voir plus</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# /MANAGE ARTICLES #}

    {# MANAGE USERS #}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gérer les comptes</h3>
                </div>
                <div class="panel-body">
                    <h4>Agences</h4>
                    <button class="btn btn-primary btn-embossed" id="showform">
                        <span class="fui-plus"></span>
                        Ajouter une agence
                    </button>
                    <br /><br />
                    {{ form_start(form, {'attr' : {'class' : 'form-horizontal well', 'id' : 'addagency'}}) }}
                        <div class="alert alert-danger alert-dismissible hidden" role="alert" id="errors_js">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <div id="errors_js_content"></div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.agencyname, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-5">
                                {{ form_widget(form.agencyname, {'attr' : {'class' : 'form-control'}}) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_errors(form.agencyname) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-5">
                                {{ form_widget(form.email, {'attr' : {'class' : 'form-control'}}) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.first, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-5">
                                {{ form_widget(form.password.first, {'attr' : {'class' : 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.second, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-5">
                                {{ form_widget(form.password.second, {'attr' : {'class' : 'form-control'}}) }}
                            </div>
                        </div>
                        <button class="btn btn-success btn-embossed" type="submit">
                            <span class="fui-check"></span>
                            Valider
                        </button>
                    {{ form_end(form) }}
                    {% if agencies is empty %}
                        <p class="text-center">Aucune agence pour le moment.</p>
                    {% else %}
                        <ul class="list-group">
                            {% for agency in agencies %}
                                <li class="list-group-item">
                                    {{ agency.agencyname }}
                                    <a data-confirm="Etes-vous sûr(e) de vouloir supprimer ?" href="{{ path('back_delete_user', {'id' : agency.id}) }}">
                                        <span class="fui-trash red-icon pull-right"></span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="text-center">
                            <a href="{{ path('back_manage_agencies') }}">Voir plus</a>
                        </p>
                    {% endif %}
                    <hr />
                    <h4>Utilisateurs</h4>
                    {% if users is empty %}
                        <p class="text-center">Aucun utilisateur pour le moment.</p>
                    {% else %}
                        <ul class="list-group">
                            {% for user in users %}
                                {% if not user.hasRole('ROLE_SUPERUSER') %}
                                    <li class="list-group-item">
                                        {{ user.firstname }} {{ user.lastname }} [{{ user.agencyname }}]
                                        <a data-confirm="Etes-vous sûr(e) de vouloir supprimer ?" href="{{ path('back_delete_user', {'id' : user.id}) }}">
                                            <span class="fui-trash red-icon pull-right"></span>
                                        </a>
                                        <a data-confirm="Etes-vous sûr(e) de vouloir promouvoir changer le statut de {{ user.firstname }} {{ user.lastname }} ?"
                                           href="{{ path('back_change_admin', {'id' : user.id}) }}">
                                            {% if 'ROLE_ADMIN' in user.roles %}
                                                <span class="glyphicon glyphicon-chevron-down red-icon pull-right">Admin</span>
                                            {% else %}
                                                <span class="glyphicon glyphicon-chevron-up green-icon pull-right">Admin</span>
                                            {% endif %}
                                        </a>
                                        <a data-confirm="Etes-vous sûr(e) de vouloir changer le statut de {{ user.firstname }} {{ user.lastname }} ?"
                                           href="{{ path('back_change_manager', {'id' : user.id}) }}">
                                            {% if 'ROLE_MANAGER' in user.roles %}
                                                <span class="glyphicon glyphicon-chevron-down red-icon pull-right">Manager</span>
                                            {% else %}
                                                <span class="glyphicon glyphicon-chevron-up green-icon pull-right">Manager</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p class="text-center">
                            <a href="{{ path('back_manage_users') }}">Voir plus</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# /MANAGE USERS #}

    <div class="row">
        <p class="text-center">
            <a href="{{ path('back_changelog') }}">Voir le changelog</a>
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@BackEndBundle/Resources/public/js/index.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
