{% extends '::base.html.twig' %}

{% block body %}
    <h2 class="text-muted">Gérer les droits</h2>
    <hr />
    <div class="col-sm-offset-2 col-sm-8 well">
        {{ form_start(form, {'attr' : {'class' : 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(form.freeAccess, '', {'label_attr' : {'class' : 'col-sm-4 control-label'}}) }}
                <div class="checkbox col-sm-5">
                    <label>
                        {{ form_widget(form.freeAccess) }}
                    </label>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.accessibleForManagers, '', {'label_attr' : {'class' : 'col-sm-4 control-label'}}) }}
                <div class="checkbox col-sm-5">
                    <label>
                        {{ form_widget(form.accessibleForManagers, {'attr' : {'id' : 'managers'}}) }}
                    </label>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.users, '', {'label_attr' : {'class' : 'col-sm-4 control-label'}}) }}
                <div class="col-sm-5">
                    {% for checkbox in form.users %}
                        <div class="checkbox">
                            <label>
                                {{ form_widget(checkbox, {'attr' : {'class' : 'agency'}}) }} {{ checkbox.vars.label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-success btn-embossed pull-right" type="submit">
                <span class="fui-check"></span>
                Terminer
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@BackEndBundle/Resources/public/js/manageRights.js' %}
        <script src="{{ asset_url }}" /></script>
    {% endjavascripts %}
{% endblock %}
