{% extends '::base.html.twig' %}

{% block body %}
    <h2 class="text-muted">Gérer les agences</h2>
    <div class="text-left">
        <a href="{{ path('back_index') }}" class="btn btn-primary btn-embossed">
            <span class="fui-arrow-left"></span>
            Retour
        </a>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gérer les agences</h3>
            </div>
            <div class="panel-body">
                {% if agencies is empty %}
                    <p class="text-center">Aucune agence pour le moment.</p>
                {% else %}
                    <ul class="list-group">
                        {% for agency in agencies %}
                            <li class="list-group-item">
                                {{ agency.agencyname }}
                                <a data-confirm="Etes-vous sûr(e) de vouloir supprimer ?" href="{{ path('back_delete_user', {'id' : agency.id}) }}">
                                    <span class="fui-trash red-icon pull-right"></span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
