{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@BackEndBundle/Resources/public/css/base_admin.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h2 class="text-muted">Gérer les utilisateurs</h2>
    <div class="text-left">
        <a href="{{ path('back_index') }}" class="btn btn-primary btn-embossed">
            <span class="fui-arrow-left"></span>
            Retour
        </a>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gérer les utilisateurs</h3>
            </div>
            <div class="panel-body">
                {% if users is empty %}
                    <p class="text-center">Aucun utilisateur pour le moment.</p>
                {% else %}
                    <ul class="list-group">
                        {% for user in users %}
                            <li class="list-group-item">
                                {{ user.firstname }} {{ user.lastname }} [{{ user.agencyname }}]
                                <a data-confirm="Etes-vous sûr(e) de vouloir supprimer ?" href="{{ path('back_delete_user', {'id' : user.id}) }}">
                                    <span class="fui-trash red-icon pull-right"></span>
                                </a>
                                <a data-confirm="Etes-vous sûr(e) de vouloir promouvoir changer le statut de {{ user.firstname }} {{ user.lastname }} ?"
                                   href="{{ path('back_change_admin', {'id' : user.id}) }}">
                                    {% if 'ROLE_ADMIN' in user.roles %}
                                        <span class="glyphicon glyphicon-chevron-down red-icon pull-right">Admin</span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-chevron-up green-icon pull-right">Admin</span>
                                    {% endif %}
                                </a>
                                <a data-confirm="Etes-vous sûr(e) de vouloir changer le statut de {{ user.firstname }} {{ user.lastname }} ?"
                                   href="{{ path('back_change_manager', {'id' : user.id}) }}">
                                    {% if 'ROLE_MANAGER' in user.roles %}
                                        <span class="glyphicon glyphicon-chevron-down red-icon pull-right">Manager</span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-chevron-up green-icon pull-right">Manager</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
