{% extends '::base.html.twig' %}

{% block body %}
    <h2 class="text-muted">Gérer les articles</h2>
    <div class="text-left">
        <a href="{{ path('back_index') }}" class="btn btn-primary btn-embossed">
            <span class="fui-arrow-left"></span>
            Retour
        </a>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gérer les articles</h3>
            </div>
            <div class="panel-body">
                {% if articles is empty %}
                    <p class="text-center">Aucun article pour le moment.</p>
                {% else %}
                    <ul class="list-group">
                        {% for article in articles %}
                            <li class="list-group-item article {% if loop.index > 5 %}hidden{% endif %}">
                                {{ article.title }} <i class="small">({{ article.creationdate | date('d/m/Y')}})</i>
                                <a data-confirm="Etes-vous sûr(e) de vouloir supprimer ?" href="{{ path('back_delete_article', {'id' : article.id}) }}">
                                    <span class="fui-trash red-icon pull-right"></span>
                                </a>
                                <a href="{{ path('back_update_article', {id : article.id}) }}">
                                    <span class="glyphicon glyphicon-pencil yellow-icon pull-right"></span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
