{% extends '::base.html.twig' %}

{% block body %}
    <h2 class="text-muted">Créer un article</h2>
    <hr />
    <div class="col-sm-offset-2 col-sm-8 well">
        {{ form_start(form, {'attr' : {'class' : 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(form.title, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                <div class="col-sm-5">
                    {{ form_widget(form.title, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.content, '', {'label_attr' : {'class' : 'col-sm-3 control-label'}}) }}
                <div class="col-sm-5">
                    {{ form_widget(form.content, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            <button class="btn btn-primary btn-embossed pull-right" type="submit">
                <span class="fui-arrow-right"></span>
                Suivant
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
