{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@BackEndBundle/Resources/public/css/base_admin.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h2 class="text-muted">Choisir des photos à uploader.</h2>
    <hr />

    <div id="mainwell" class="col-sm-offset-2 col-sm-8 well">
        <span class="btn btn-primary btn-embossed btn-file">
            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
            Ajouter des fichiers
            <input type="file" data-target="#" id="up_button" class="sender" accept="image/*" multiple />
		</span>
        <br /><br />
        <div class="row">
            <ul class="photolist" id="filesList" class="col-sm-12">
            </ul>
        </div>
        <div class="row">
            <p id="empty" class="text-center">
                Aucune photo pour le moment.
                <br />
                Cliquez sur le bouton "Ajouter des fichiers" ou glissez vos fichiers ici.
            </p>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-embossed pull-right" id="validation" disabled>
                <span class="fui-arrow-right"></span> Suivant
            </button>
        </div>
    </div>

    <div class="load-modal">
        {% image '@BackEndBundle/Resources/public/images/ajax-loader.gif' %}
            <img src="{{ asset_url }}" alt="loding" />
        {% endimage %}
        <p class="text-center">
            <strong id="loadingtext">Upload en cours veuillez patienter...</strong>
        </p>
    </div>

    <span class="hidden" id="redirect_link" data-href="{{ path('back_manage_rights', {id : id }) }}"></span>
    {% if update is defined %}
        <span class="hidden" id="update" data-id="{{ id }}"></span>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@sortable' '@BackEndBundle/Resources/public/js/uploadphotos.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var upload_route = Routing.generate('back_upload_photo_ajax', {id : {{ id }} });
        var uploadDir = '{{ asset('uploads/') }}';
    </script>
{% endblock %}
