{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@BackEndBundle/Resources/public/css/base_admin.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h2 class="text-muted">Choisir des vidéos à uploader.</h2>
    <hr />

    <div id="mainwell" class="col-sm-offset-2 col-sm-8 well">

        <span class="btn btn-primary btn-embossed btn-file">
            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
            Ajouter des fichiers
            <input type="file" data-target="#" id="up_button" class="sender" accept=".mp4" multiple />
		</span>
        <br /><br />
        <ul class="list-group" id="filesList">
        </ul>
        <p id="empty" class="text-center">
            Aucune vidéo pour le moment.
            <br />
            Cliquez sur le bouton "Ajouter des fichiers" ou glissez vos fichiers ici.
        </p>
        <button class="btn btn-primary btn-embossed pull-right" id="validation" disabled>
            <span class="fui-arrow-right"></span> Suivant
        </button>
    </div>

    <div class="load-modal">
        {% image '@BackEndBundle/Resources/public/images/ajax-loader.gif' %}
            <img src="{{ asset_url }}" alt="loding" />
        {% endimage %}
        <p class="text-center">
            <strong id="loadingtext">Chargement en cours veuillez patienter...</strong>
        </p>
    </div>

    <span class="hidden" id="rights_route" data-href="{{ path('back_manage_rights', {'id' : id }) }}"></span>
    {% if update is defined %}
        <span class="hidden" id="update" data-id="{{ id }}"></span>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var upload_route = Routing.generate('back_upload_video_ajax', {id : {{ id }} });
    </script>
    {% javascripts '@sortable' '@BackEndBundle/Resources/public/js/uploadvideos.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
