.article_index {
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.videocontainer {
    width: 500px;
    height: 280px;
    margin: 0 auto;
}

h3 {
    display: inline;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-align > [class^="col-"] > div, .vertical-align > [class*=" col-"] > div {
    flex-grow: 1;
}

.block {
    display: block;
}

.preview {
    max-height: 100px;
    max-width: 150px;
}

.photos_preview {
    border: 2px solid #2c3e50;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

#videos {
    margin-top: 15px;
}
