/*!
 * Lightbox for Bootstrap 3 by @ashleydw
 * https://github.com/ashleydw/lightbox
 *
 * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
 */.ekko-lightbox-container{position:relative}.ekko-lightbox-nav-overlay{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%}.ekko-lightbox-nav-overlay a{z-index:100;display:block;width:49%;height:100%;font-size:30px;color:#fff;text-shadow:2px 2px 4px #000;opacity:0;filter:dropshadow(color=#000000,offx=2,offy=2);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s}.ekko-lightbox-nav-overlay a:empty{width:49%}.ekko-lightbox a:hover{text-decoration:none;opacity:1}.ekko-lightbox .glyphicon-chevron-left{left:0;float:left;padding-left:15px;text-align:left}.ekko-lightbox .glyphicon-chevron-right{right:0;float:right;padding-right:15px;text-align:right}.ekko-lightbox .modal-footer{text-align:left}

.article_index {
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    display: inline;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-align > [class^="col-"] > div, .vertical-align > [class*=" col-"] > div {
    flex-grow: 1;
}

.block {
    display: block;
}

.preview {
    max-height: 100px;
    max-width: 150px;
}

.photos_preview {
    border: 2px solid #2c3e50;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

#videos {
    margin-top: 15px;
}
