.cardbutton, .cardbutton:hover {
    text-decoration: none;
    font-size: 1.4em;
}

.cardbutton .glyphicon {
    font-size: 10em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.photolist {
    list-style-type: none;
}

.photolist li {
    margin: 10px;
    height: 220px;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.photolist li .upload-preview {
    width: 90%;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.photolist li .delete-button {
    margin-top: 2px;
}

.load-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.load-modal img, .load-modal p {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.load-modal img {
    top: 50%;
}

.load-modal p {
    top: 60%;
    color: white;
}

.glyphicon-chevron-down, .glyphicon-chevron-up {
    margin-right: 10px;
}

.onDragAndDrop {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.onDragAndDropError {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
