<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Partnaire média Login</title>
        <!-- Bootstrap core CSS -->
        {% stylesheets '../app/Resources/public/css/bootstrap.min.css'
                       '../app/Resources/FOSUserBundle/public/css/signin.css' %}
            <link href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            {% block fos_user_content %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
                {% endif %}

                <form action="{{ path('fos_user_security_check') }}" method="post" class="form-signin">
                    <h2 class="form-signin-heading text-center">S'il vous plait veuillez vous authentifier</h2>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username" class="sr-only">{{ 'Nom d\'utilisateur'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Nom d'utilisateur" required autofocus />

                    <label for="password" class="sr-only">{{ 'Mot de passe'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required />

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Se rappeller de moi
                        </label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">Connexion</button>
                </form>
            {% endblock fos_user_content %}
            <p class="text-center">
                <a href="{{ path('user_forgotten_password') }}">Mot de passe oublié ? Cliquez ici.</a>
            </p>
            <p class="text-center">
                <a href="{{ path('user_registration') }}">Pas de compte et vous êtes manager ? Cliquez ici.</a>
            </p>
        </div> <!-- /container -->
    </body>
</html>
