{% block form_errors %}
	{% spaceless %}
		{% if errors|length > 0 %}
    		<p class="text-danger">
    			{% for error in errors %}
    				{{ error.message }}
    			{% endfor %}
    		</p>
		{% endif %}
	{% endspaceless %}
{% endblock form_errors %}
