{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@ekkolightbox_css' '@FrontEndBundle/Resources/public/css/front.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ article.title }}</h2>
            </div>
            <div class="panel-body">
                {% if null != article.content %}
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8 text-center">
                            <p class="lead">
                                {{ article.content }}
                            </p class="lead">
                        </div>
                    </div>
                    <hr />
                {% endif %}

                {% if article.isVideosArticle %}
                    {% for file in article.files %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% set path = file.path | split('/') | last %}
                                <div class="col-sm-10 col-sm-offset-1">
                                    <video class="video-js"
                                           width="500"
                                           height="280"
                                           class="video-js"
                                           preload="auto"
                                           data-setup="{}"
                                           controls>
                                        <source src="{{ asset('uploads/' ~ path) }}" type="video/mp4">
                                    </video>
                                </div>
                                {% if file.legend != null %}
                                    <div class="col-sm-6 col-sm-offset-3 text-center">
                                        <p>{{ file.legend }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr />
                    {% endfor %}
                {% else %}
                    <div class="row vertical-align">
                        {% for file in article.files %}
                            {% set path = file.path | split('/') | last %}
                            {% if loop.index0 is divisible by(4) %}
                                </div>
                                <div class="row vertical-align">
                            {% endif %}
                            <div class="col-xs-6 col-md-3 block">
                                <a href="{{ asset('uploads/' ~ path) }}"
                                   data-toggle="lightbox"
                                   data-gallery="multiimages"
                                   {% if file.legend is not null %}
                                        data-title="{{ file.legend }}"
                                   {% endif %}
                                   class="thumbnail">
                                        <img src="{{ asset('uploads/' ~ path) | imagine_filter('thumbnail') }}" />
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@ekkolightbox_js' '@videojs_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>videojs.options.flash.swf = '{{ asset('video-js.swf') }}';</script>
    <script>
        $(document).delegate('a[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                loadingMessage : 'Chargement...',
            });
        });
    </script>
{% endblock %}
