{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@FrontEndBundle/Resources/public/css/front.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <span class="glyphicon glyphicon-ok-sign"></span>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h2 class="text-muted">Derniers articles publiés</h2>
    <hr />

    {% if photos is empty and videos is empty %}
        <p class="text-center">Aucun article pour le moment. Revenez plus tard :) </p>
    {% else %}
        {% if photos is not empty %}
            <div class="row col-sm-12">
                <div class="row text-center">
                    <h3 class="text-center">
                        <a href="{{ path('front_photos') }}">Photos</a>
                    </h3>
                </div>
                <br />
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-sm-4">
                            <div class="photos_preview col-sm-12">
                                <div class="row text-center">
                                    {% set path = photo.files[0].path|split('/')|last %}
                                    <img src="{{ asset('uploads/' ~ path)|imagine_filter('firstthumbnail') }}" alt="Aperçu 1" />
                                </div>
                                <hr />
                                <div class="row text-center">
                                    {% for file in photo.files|slice(1, 3) %}
                                        {% set path = file.path|split('/')|last %}
                                        <div class="col-sm-4 vertical-align">
                                            <img src="{{ asset('uploads/' ~ path)|imagine_filter('thumbnail') }}" class="img-responsive" alt="Aperçu {{ loop.index + 1 }}" />
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row text-center">
                                    <a href="{{ path('front_article', {'slug' : photo.slug}) }}">Voir l'album...</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br />
                <div class="row text-center">
                    <a href="{{ path('front_photos') }}">Albums suivants...</a>
                </div>
            </div>
        {% endif %}
        {% if videos is not empty %}
        <div class="row col-sm-12" id="videos">
            <div class="row text-center">
                <h3 class="text-center">
                    <a href="{{ path('front_videos') }}">Vidéos</a>
                </h3>
            </div>
            <br />
            <div class="row">
                {% for video in videos %}
                    <div class="col-sm-4">
                        <div class="photos_preview col-sm-12">
                            <div class="row">
                                {% set path = video.files[0].path|split('/')|last %}
                                <div class="col-sm-12">
                                    <video class="video-js"
                                           height="280"
                                           preload="auto"
                                           data-setup="{}">
                                        <source src="{{ asset('uploads/' ~ path) }}" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="row text-center">
                                <a href="{{ path('front_article', {'slug' : video.slug}) }}">
                                    Voir l'album...
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br />
            <div class="row text-center">
                <a href="{{ path('front_videos') }}">Vidéos suivantes...</a>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@videojs_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>videojs.options.flash.swf = '{{ asset('video-js.swf') }}';</script>
{% endblock %}
