{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@FrontEndBundle/Resources/public/css/front.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <span class="glyphicon glyphicon-ok-sign"></span>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h2 class="text-muted">{{ title }}</h2>
    <hr />

    {% if articles is empty %}
        <p class="text-center">Aucun article pour le moment. Revenez plus tard :) </p>
    {% else %}
        {% for article in articles %}
            <article class="article_index col-sm-12">
                <div class="row text-center">
                    <h3>{{ article.title }}</h3>
                </div>
                <div class="row text-center">
                    <i class="small">(Publié le {{ article.creationdate|date('d/m/Y') }})</i>
                </div>
                <br />
                {% if article.content != null %}
                    <div class="row text-center">
                        <strong>Description de l'article : </strong>
                    </div>
                    <div class="row text-center">
                        <p>{{ article.content }}</p>
                    </div>
                {% endif %}
                <div class="row text-center">
                    <strong>Aperçu de l'article : </strong>
                </div>
                <div class="row">
                    {% if article.isVideosArticle %}
                        {% set path = article.files[0].path|split('/')|last %}
                        <div class="col-sm-6 col-sm-offset-3">
                            <video class="video-js"
                                   width="500"
                                   height="280"
                                   class="video-js"
                                   preload="auto"
                                   data-setup="{}"
                                   controls>
                                <source src="{{ asset('uploads/' ~ path) }}" type="video/mp4">
                            </video>
                        </div>
                    {% elseif article.isPhotosArticle %}
                        <div class="text-center">
                            {% for file in article.files|slice(0, 5) %}
                                {% set path = file.path|split('/')|last %}
                                <img src="{{ asset('uploads/' ~ path) | imagine_filter('thumbnail') }}" class="preview" />
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <br />
                <div class="row text-center">
                    <a href="{{ path('front_article', {'slug' : article.slug}) }}">Voir la suite...</a>
                </div>
            </article>
        {% endfor %}
        {% include 'FrontEndBundle:Front:pagination.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@videojs_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>videojs.options.flash.swf = '{{ asset('video-js.swf') }}';</script>
{% endblock %}
