<nav class="text-center">
    <ul class="pagination">
        {% if pagination.page > 1 %}
            <li {% if pagination.page == 1 %}class="active"{% endif %}><a href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}">&laquo;</a></li>
            <li><a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}">&lt;</a></li>
        {% endif %}
        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.count)) %}
            <li {% if pagination.page == p %}class="active"{% endif %}><a href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a></li>
        {% endfor %}
        {% if pagination.page < pagination.count %}
            <li><a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">&gt;</a></li>
            <li><a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.count})) }}">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
